language: node_js
node_js:
  - "node"
cache:
  directories:
    - node_modules
before_install:
  - cd client
install:
  - yarn
before_script:
  - export CI=false
script:
  - yarn build
deploy:
  skip_cleanup: true
  provider: surge
  project: ./dist/
  domain: https://vscode-clone.surge.sh
