$editor-background: #1e2127;
$editor-currentLineBackground: #1b1c22;
$editor-fontColor: #9ba1a2;

$sidebar-background: #272727;
$sidebar-icon: #878787;
$sidebar-iconActive: #ffffff;
$sidebar-iconDisabled: #878787;
